.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
}

.taskBuilder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 1rem;
  margin-top: 0;
  height: 5rem;
}

.taskList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 100vh;
  margin-left: 10rem;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 8px;
  margin: 1rem;
  padding: 0.5rem;
  width: 10rem;
  height: 15rem;
}
